@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
}
header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}
.again {
  position: absolute;
  left: 2rem;
  top: 2rem;
}
.between {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.4rem;
}
h1 {
  font-size: 4rem;

  text-align: center;
  position: absolute;
  top: 52%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.guess-number {
  font-size: 6rem;
  background-color: #eee;
  color: #222;
  width: 15rem;
  position: absolute;
  text-align: center;
  padding: 3rem 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
main {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #eee;
}
.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right {
  width: 52rem;
  font-size: 2rem;
}
.input-number {
  background-color: #222;
  color: #eee;
  border: 3.5px solid #eee;
  padding: 2.5rem 3rem;
  width: 25rem;
  font-size: 4rem;
  display: block;
  text-align: center;
  margin-bottom: 3rem;
  font-family: inherit;
}
.btn {
  font-size: 2rem;
  padding: 2rem 3rem;
  font-family: inherit;
}
.btn:hover {
  background-color: #ccc;
}
.guessing {
  margin-bottom: 8rem;
  height: 3rem;
}
.score {
  margin-bottom: 2rem;
}
